<section class="container meeting-form-container">
  <%= form_with(model: meeting) do |form| %>
    <% if meeting.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

        <ul>
          <% meeting.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :subject, class: "form-label" %>
      <%= form.text_field :subject, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :members, class: "form-label" %>
      <% User.pluck(:email).each do |member| %>
        <div>
          <input type="checkbox" name= "meeting[members][]" value=<%= member%>class= "form-control"   /><%= member%>
        </div>
      <% end %>
      
    </div>

    <div class="mb-3">
      <%= form.label :room_id, class: "form-label" %>
      <%= form.select :room_id, Room.pluck(:id).map { |room| ["Room-#{room}", room]}, {}, class: "form-select"  %>
    </div>

    <div class="mb-3">
      <%= form.label :date, class: "form-label" %>
      <%= form.date_field :date, class: "form-control"  %>
    </div>

    <div class="mb-3">
      <%= form.label :start_time, class: "form-label" %>
      <%= form.time_field :start_time, class: "form-control"  %>
    </div>

    <div class="mb-3">
      <%= form.label :end_time, class: "form-label" %>
      <%= form.time_field :end_time, class: "form-control"  %>
    </div>

    <div class="mb-3">
      <%= form.label :user_id, "Host By", class: "form-label" %>
      <%= form.select :user_id, User.pluck(:email, :id), {}, class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Save", class: "btn btn-sm btn-primary" %>
    </div>
  <% end %>
</section>