
<section class="rooms-header d-flex align-items-center justify-content-between pt-3 mb-1">
  <h4 class="text-primary mb-0">Meetings</h4>
  <%= link_to "New Meeting", new_meeting_path, class: "btn btn-primary " %>
</section>

<table class="table table-hover">
  <thead class="table-primary">
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Subject</th>
      <th scope="col">Created By</th>
      <th scope="col">Date</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each_with_index do |meeting, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= meeting.subject %></td>
        <td><%= meeting.room.user.email %></td>
        <td><%= meeting.created_at %></td>
        <td>
          <div class="meeting-actions d-flex align-items-center justify-content-end">
            <%= link_to "View", meeting, class: "btn btn-sm btn-success" %> &nbsp;
            <%= link_to "Edit", edit_meeting_path(meeting), class: "btn btn-primary btn-sm" %> &nbsp;
            <%= button_to "Remove", meeting, class: "btn btn-sm btn-danger", method: :delete %>
            &nbsp;
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
