
<p style="color: green"><%= notice %></p>

<section class="rooms-header d-flex align-items-center justify-content-between pt-3">
  <h4 class="text-primary">Rooms</h4>
  <%= link_to "New room", new_room_path, class: "btn btn-sm btn-primary" %>
</section>

<table class="table table-hover">
  <thead class="table-primary">
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Description</th>
      <th scope="col">Created By</th>
      <th scope="col">Date</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each_with_index do |room, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= room.description %></td>
        <td><%= room.user.email %></td>
        <td><%= room.created_at %></td>
        <td class="text-end">
          <%= link_to "View", room, class: "btn btn-sm btn-success" %> 
          <%= link_to "Remove", room, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
