<section class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="text-success">
      Room Details: 
    </h4>
    <div>
      <% if can? :update, @room %>
        <%= link_to "Edit", edit_room_path(@room), class: "btn btn-sm btn-primary" %>
      <% end %>
      <%= link_to "Back", :back, class: "btn btn-sm btn-secondary" %>
    </div>
  </div>
  <%= render @room %>
  <% if can? :destroy, @room %>
    <div>
      <%= button_to "Remove this room", @room, method: :delete, class: "btn btn-danger btn-sm" %>
    </div>
  <% end %>
</section>
<%= render "meetings", meetings: @meetings%>
