
<section class="container">
  <p style="color: green"><%= notice %></p>

  <div class="d-flex justify-content-between align-items-center">
    <h4 class="text-success">
      Room Details: 
    </h4>
    <div>
      <%= link_to "Edit", edit_room_path(@room), class: "btn btn-sm btn-primary" %>
      <%= link_to "Back", :back, class: "btn btn-sm btn-secondary" %>
    </div>
  </div>
  <%= render @room %>

  <div>
    <%= button_to "Destroy this room", @room, method: :delete, class: "btn btn-danger btn-sm" %>
  </div>
</section>

